* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

body {
    margin:0;
    background:#000;
    font-family:"Poppins",sans-serif;
    padding: 0;
}

#search-htm, svg {
    fill: #fff;
    width: 30px;
    padding-top: 3px;
}

#menu-btn {
    display: none;
}

.hero-slide{
    width:100%;
    height:70vh;
    background-size:cover;
    background-position:flex-start;
    background-repeat:no-repeat;
    flex: 0 0 100%;
    display: flex;
    align-items:flex-end;
    padding:10px;
    position:relative;
    scroll-snap-align:start;
    cursor: pointer;
}

#hero-slider{
    display:flex;
    overflow-x:auto;
    overflow-y: hidden;
    scroll-snap-type:x mandatory;
    scroll-behavior:smooth;
    width:100%;
    height:70vh;
    scrollbar-width:none;
}

#hero-slider::-webkit-scrollbar{
    display:none;
}

.hero-slide::before{
    content:"";
    position:absolute;
    inset:0;
    background:linear-gradient(to top,
    rgba(0,0,0,.9),
    rgba(0,0,0,.3));
}

.hero-content{
    position:relative;
    z-index:2;
    max-width:600px;
    color:white;
}

.hero-content h1{
    font-size:2rem;
    margin-bottom:40px;
    margin-left: 10px;
}

.whole-container {
    display: flex;
    color: white;
    width: 100%;
    height: 100%;
}

.movie-row {
   width: 100%;
   color: white;
   margin: 60px 0;
}

.list-container {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: right;
}

.main-body {
    margin-left:230px;
    width:calc(100% - 230px);
    padding:20px;
    overflow-x:hidden;
}

.sidebar {
    width: 230px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    padding-top: 10px;
    font-size: 20px;
    font-weight: 500;
    gap: 2rem;
}

.sidebar a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    opacity: 100%;
}

.sidebar a:hover {
    color: rgb(216, 30, 30);
    border-radius: 8px;
}

.side-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 40px;
}

p img {
    width: 20px;
}

.movie-container {
    display:flex;
    gap:30px;
    overflow-x:auto;
    overflow-y:hidden;
    flex-wrap: nowrap;
    scroll-behavior:smooth;
    scrollbar-width:none;
    padding:15px 0;
}

.movie-container::-webkit-scrollbar{
    display:none;
}

.movie-container img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.names {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-width:150px;
    border-radius :10px;
    overflow :hidden;
    transition :.3s;
    height: 100%;
}

.names:hover{
    transform:scale(1.05);
}

.names img{
    width:100%;
    height:260px;
    object-fit:cover;
}

.names a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}





@media(max-width:768px){
.mobile-header {
    display: flex;
    justify-content:flex-start;
    gap: 1rem;
    align-items: flex-start;
    padding: 3px 15px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    border: 2px solid rgba(255, 255, 255, 0.2);
    background-color: #000;
    backdrop-filter: blur(25px);

}

#menu-btn {
    background: none;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
    display: block;
}

.sidebar{
    position: fixed;
    top: 60px;
    left: -230px;
    width: 230px;
    height: 100vh;
    background: #000000;
    transition: 0.3s;
    z-index: 1001;    
}

.sidebar.active {
    left: 0;
}

.sidebar hr{
    display:none;
}

.sidebar h1{
    display:flex;
}

.side-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 40px;
    margin-top: 50px;
}

.sidebar p{
    margin:0;
    text-align: left;
    top: 90px;
}

.sidebar a{
    padding:1rem;
}
.sidebar img{
    width:24px;
}

.main-body{
    margin-left:0;
    margin-top: 0;
    width:100%;
    padding: 0;
    padding-top: 60px;
}

.hero-slide{
    height:35vh;
    padding:10px;
    width: 100%;
    flex: 0 0 100%;
}

#hero-slider {
    width: 100%;
    height: 30vh;
    margin: 0;
}

.hero-content h1{
    font-size: 18px;
}

.names {
    display: flex;
    text-align: center;
    height: auto;
    width: 100%;

}

.names a {
    font-size: 10px;
    margin: 3px;
    width: 100%;
    text-align: center;
}

.names img {
    width: 100%;
    height: 60%;
}

.names, p {
    margin-bottom: 45px;
}

.movie-row{
    height: 20px;
    margin-bottom: 15rem;
}

.movie-row h2 {
    font-size: 20px;
}

}
